<section class="footer">
  <section class="footer__content">
    <section class="signup">
      <div class="signup__text">
        <span>Sign up and</span> <br>
        <span>get free content every week.</span>
      </div>
      <div class="signup__form">
        <input type="text" class="email" placeholder="Enter your email..."> <br>
        <button type="submit" class="signup__btn">Sign Up</button>
      </div>
    </section>
    <section class="category">
      <div class="category__text">
        <span>Browse by categories</span>
      </div>
      <div class="category__content">
        <ul class="list__content" *ngFor="let category of categoriesData">
          <li *ngFor="let item of category"><a href="#{{item}}">{{item}}</a></li>
        </ul>
      </div>
    </section>
  </section>
  <footer class="copyright">
    <section class="copyright__content">
      <div class="content__links">
        <span class="links"><a href="#Affiliates">Affiliates</a></span> <span class="links">/</span>
        <span class="links">Contributors</span><span class="links">/</span>
        <span class="links">Press / Media</span><span class="links">/</span>
        <span class="links">Careers</span><span class="links">/</span>
        <span class="links">About</span><span class="links">/</span>
        <span class="links">Contact</span>
      </div>
      <br>
      <p class="copyright__text">Copyright © 2018 myCompany All rights reserved</p>
    </section>
    <section class="copyright__icons">
      <i class="fa-brands fa-facebook icon"></i>
      <i class="fa-brands fa-twitter-square icon"></i>
      <i class="fa-brands fa-google-plus-g icon"></i>
      <i class="fa-solid fa-rss icon"></i>
    </section>
  </footer>
</section>
