<div class="footer">
  <div class="footer__content">
    <div class="signup">
      <div class="signup__text">
        <span>Sign up and</span> <br>
        <span>get free content every week.</span>
      </div>
      <div class="signup__form">
        <input type="text" class="email" placeholder="Enter your email..."> <br>
        <button type="submit" class="signup__btn">Sign Up</button>
      </div>
    </div>
    <div class="category">
      <div class="category__text">
        <span>Browse by categories</span>
      </div>
      <div class="category__content">
        <ul class="list__content">
          <li>Graphics</li>
          <li>PSDs</li>
          <li>Icons</li>
          <li>Templates</li>
          <li>Themese</li>
        </ul>
        <ul class="list__content">
          <li>Addons</li>
          <li>Fonts</li>
          <li>Textures</li>
          <li>Patterns</li>
          <li>Backgrounds</li>
        </ul>
        <ul class="list__content">
          <li>Buttons</li>
          <li>Form</li>
          <li>Gui</li>
          <li>Navigation</li>
          <li>UI kits</li>
        </ul>
        <ul class="list__content">
          <li>Infographics</li>
          <li>Graphs</li>
          <li>Logos</li>
          <li>Vectors</li>
          <li>Business Cards</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="copyright__content">
      <span class="links">Affiliates  /  Contributors  /  Press/Media  /  Careers  /  About  /  Contact</span>
      <br>
      <p class="copyright__text">Copyright 2018 myCompany All rights reserved</p>
    </div>
    <div class="copyright__icons">
      <i class="bi bi-facebook icon"></i>
      <i class="bi bi-twitter icon"></i>
    </div>
  </div>
</div>
