<main class="container">
  <section class="search">
    <app-search (searchValue)="updateSearchValue($event)"></app-search>
  </section>
  <div class="search__text" *ngIf="isInitialLoad">
    <h2>Let's search something to get awesome Gifs</h2>
  </div>
  <div class="search__text" *ngIf="isError">
    <h2>Something went wrong...Try again later.</h2>
  </div>
  <section class="loader" *ngIf="isLoading">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </section>
  <section class="result" *ngIf="searchResponse">
    <app-result [data]="searchResponse"></app-result>
  </section>
  <footer class="footer">
    <app-footer></app-footer>
  </footer>
</main>
