
.search {
  height: 400px;
  background-color: #f46900;
  padding: 5%;
  color: #fef7ef;
}

.align__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__text {
  font-size: x-large;
}

.search__form {
  margin: 2% 0 4% 0;
}

.search__input {
  border: 1px solid #f46900;
  height: 46px;
  width: 300px;
  border-radius: 4px;
  border-right: none !important;
  padding-left: 20px;
  font-size: 16px;
}

input:focus {
  outline: none;
}

.select__limit {
  border: 1px solid #f46900;
  height: 50px;
  width: 150px;
  border-left: none;
  position: relative;
  right: 3px;
  font-size: 16px;
  cursor: pointer;
  background-color: #e4edf4;
  color: #b0bfc6;
  text-align: center;
  padding-right: 10px;
  background-image: url("data:image/svg+xml,%3Csvg id='SvgjsSvg1001' width='288' height='288' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs'%3E%3Cdefs id='SvgjsDefs1002'%3E%3C/defs%3E%3Cg id='SvgjsG1008'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' width='288' height='288'%3E%3Cpath d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z' fill='%23b0bfc6' class='color000 svgShape'%3E%3C/path%3E%3C/svg%3E%3C/g%3E%3C/svg%3E");
  background-position: right 14px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.icon__down {
  position: relative;
  top: 0.7px;
  left: 8px;
  font-size: 18px;
}

.search__icon {
  background-color: #000000;
  border: 1px solid #f46900;
  height: 48px;
  width: 40px;
  border-radius: 4px;
  border-left: none !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  right: 6px;
  font-size: 16px;
  cursor: pointer;
}

.icon__align {
  height: 100%;
  font-size: 20px;
}

.search__text {
  margin: 5% 0 3% 0;
  font-size: larger;
  text-align: center;
}

.search__desc {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .search__desc {
    position: relative;
    top: 10px;
  }
  .search__input {
    width: 150px;
    font-size: 13px;
    padding-left: 5px;
  }
  .select__limit {
    width: 100px;
    text-align: left;
    background-position: right 10px center;
    padding-left: 3px;
  }
}
