
.search {
  height: 400px;
  background-color: #f46900;
  padding: 5%;
  color: #fef7ef;
}

.alignContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__text {
  font-size: x-large;
}

.search__form {
  margin: 2% 0 4% 0;
}

.search__input {
  border: 1px solid #f46900;
  height: 46px;
  width: 300px;
  border-radius: 4px;
  border-right: none !important;
  padding-left: 20px;
  font-size: 16px;
}

input:focus {
  outline: none;
}

.submit__btn {
  border: 1px solid #f46900;
  height: 50px;
  width: 150px;
  border-left: none;
  position: relative;
  right: 3px;
  font-size: 16px;
  cursor: pointer;
  background-color: #e4edf4;
  color: #b0bfc6;
}

.icon__down {
  position: relative;
  top: 2px;
  left: 6px;
  font-size: 15px;
}

.search__icon {
  background-color: #000000;
  border: 1px solid #f46900;
  height: 48px;
  width: 40px;
  border-radius: 4px;
  border-left: none !important;
  position: relative;
  right: 6px;
  font-size: 16px;
  cursor: pointer;
}

.icon__align {
  height: 100%;
  font-size: 20px;
}

.search__text {
  margin: 5% 0 3% 0;
  font-size: larger;
  text-align: center;
}

.search__desc {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .search__desc {
    position: relative;
    top: 10px;
  }
  .search__input {
    width: 150px;
    font-size: 13px;
    padding-left: 5px;
  }
}
