.result {
  height: auto;
  min-height: 100px;
  padding: 30px;
  margin: 2% 0 2% 0;
}

.modal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  padding: 20px;
}

.no__data {
  display: flex;
  align-items: center;
  justify-content: center;
}
